@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Secular+One&display=swap');


/*font-family: 'Fira Sans Condensed', sans-serif; ЗАГОЛОВКИ 300 400 900
font-family: 'PT Sans', sans-serif; ДЛЯ ОБЫЧНОГО ТЕКСТА 400
font-family: 'Secular One', sans-serif; ШАПКА 400 */




.container{
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/*HEADER*/

.header {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-areas: "logo nav search";
  align-items: center;
  justify-items: start;

  padding: 20px 0;

  text-transform: uppercase;

  overflow: hidden;
}

.header__logo {
  grid-area: logo;
  justify-self: end;

  font-family: 'Secular One', sans-serif;
  font-weight: 400;
  color: #FF4747;
  font-size: 24px;
  width: 150px;
  line-height: 1;

  transition: color 0.2s;
}

.header__nav {
  grid-area: nav;
}

.header__nav ul{
  display: flex;
  gap:10px;
}

.header__nav a{
  padding: 15px;
  transition: color 0.2s;
  position: relative;
  display: inline-block;
}

.header__nav a:hover, .header__logo:hover{
  color: #01BCB5;
}

.header__nav a:active{
  color: #44a7a2;
}

.header__nav a::after{
  display: block;
  content: "";
  height:100%;
  width: 80%;
  background-color:#01BCB5;
  position: absolute;
  left: 15px;
  bottom: -200%;

  transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after{
  bottom: -80%;
}
.header__nav a:active::after{
  background-color: #44a7a2;
}
.header__search {
  grid-area: search;
}

.header__search-icon{
  transition: fill 0.2s;
}

.header__search-icon:hover{
  fill: #01BCB5;
}

.header__search-icon:active{
  fill: #44a7a2;
}

.main {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  grid-template-areas: "slider-arrows healthy thirsty thirsty" 
                        "slider-arrows healthy slider-dots orange" 
                        "freshy healthy slider-dots orange";
}

.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
}


.slider-arrow__wrapper {
  width: 100% ;
  height: 100%;

  filter: brightness(0.8);

  display: flex;
}

.slider-arrows__item {

}

.slider-arrows__nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transform: translateY(-50%);
}

.slider-arrow__arrow {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;

  width: 50px;
  height: 50px;
}
.opac{
  transition: opacity 0.2s
}
.opac:hover{
  opacity: 0.6;
}

.opac:active{
  opacity: 0.8;
}



.btn {
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border: 1px solid #fff;

  padding: 10px 20px;

}

.slider-dots {
 grid-area: slider-dots;
 position: relative;
}

.slider-dots__wrapper {
  width: 100% ;
  height: 100%;

  filter: brightness(0.8);

  display: flex;
}

.slider-dots__btn-wrapper {
  position: absolute;
  left: 0;
  top:50%;
  transform: translateY(-50%);

  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-dots__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  width: 100%;

  position: absolute;
  bottom: 30px;
  left: 0;
}

.slider-dots__item {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 50%;
}


.slider-dots__item--active {
  background-color: transparent;
  border: 1px solid #fff;
}

